version: "3"
services:
  app:
    # AWS ECR image repository URI for app server
    image: 689243823134.dkr.ecr.us-east-2.amazonaws.com/treatment-app-server
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
      args:
        # The value will automatically be picked up from `.env` file, and passed as argument to the docker build
        RAILS_MASTER_KEY:
    depends_on:
      - db
    links:
      - db
    environment:
      TREATMENT_DATABASE_ADAPTER: mysql2
      TREATMENT_DATABASE_USERNAME: root
      TREATMENT_DATABASE_NAME: app
      TREATMENT_DATABASE_PASSWORD: root
      TREATMENT_DATABASE_HOST: db
  web:
    # AWS ECR image repository URI for web server
    image: 689243823134.dkr.ecr.us-east-2.amazonaws.com/treatment-web-server
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    links:
      - app
    ports:
      - 80:80
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: user
      MYSQL_PASSWORD: root
    volumes:
      - db:/var/run/mysqld
    ports:
      - "3307:3306"
volumes:
  db:
