<h1>Search Help</h1>
<p>The treatment database has a couple of ways of searching for records.</p>
<ul>
  <li>Search by Item Record Number</li>
  <li>Search by Database ID</li>
  <li>Search by partial or full title</li>
</ul>
<p>If the search returns only one result you will be automatically referred to that page.</p>