<% flash.each do |key, message| %>
  <% css_class = case key
                 when 'alert' then 'alert-danger'
                 when 'notice' then 'alert-success'
                 else 'alert-primary'
                 end %>
  <div class="alert <%= css_class %>">
    <%= message %>
  </div>
<% end %>
