<h1>Recent Activity</h1>

<table class="table">
  <thead>
    <th>Action</th>
    <th>Detail</th>
  </thead>

  <tbody>
    <% PaperTrail::Version.all.each do |version| %>
      <tr>
        <td><%= version_summarizer(version).html_safe %></td>
        <td><%= link_to "Details", activity_path(version) %></td>
      </tr>
    <% end %>
  </tbody>
</table>