<h1>Recent Activity</h1>

<table class="table">
  <thead>
    <th>Activity</th>
    <th>When</th>
    <th>Detail</th>
  </thead>

  <tbody>
    <% @versions.order('created_at DESC').each do |version| %>
      <tr>
        <td><%= version_summarizer(version).html_safe %></td>
        <td><%= version.created_at.in_time_zone("America/New_York").strftime("%-m/%-d/%y: %H:%M %Z") %>
        <td><%= link_to "Details", activity_path(version) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="float-right"> <%== pagy_bootstrap_nav(@pagy).html_safe %></div> 
