<style>
.banner {
  font-size: 20px;
}

.section {
  margin-bottom: 15px;
  display: table-row;
}

table {
  text-align: center;
  display: block;
}

.a4 {
  width: 800px;
  margin: 0 auto;
  display: table;
}

</style>
<div class="a4">
  <div class="banner section">
    Database ID
  </div>
</div>
