// Place all the styles related to the ConservationRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cta-btn {
  margin-top:5px;
  margin-bottom: 5px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  max-height: 20px;
}

.required {
  color: #e00122;
}
