@import "bootstrap";
@import "**/*";

.navbar {
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-help-icon {
  margin-right: 8px;
}

.form-block{
  width: 40%;
}

label {
    padding-top: 10px;
}
