<ul class="navbar-nav w-100 d-flex w-100 justify-content-between">
  <li class="nav-item">
    <%= link_to 'Treatment Database', root_path, class: 'navbar-brand' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Login', new_session_path, class: 'btn btn-secondary text-white' %>
  </li>
</ul>
