<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex align-items-center w-100">
      <div class="me-auto">
        <a class="navbar-brand" href="/">Treatment Database</a>
      </div>
      <div class="ms-auto">
        <a class="btn btn-secondary text-white" href="/users/sign_in">Log in</a>
      </div>
    </div>
  </div>
</nav>
